.musicSearch{
	text-align: center;
	align-content: center;
	/*margin-left: 10%;*/
	margin-left: auto;
	margin-right:auto;
}

.title{
	font-family: 'Monda';
	color: #FFFCFD;
}

.subtitle{
	font-family: 'Monda';
	color: #FFFCFD;
}

.genres{
  	text-align: center;
  	align-content: center;
  	background-color: blue;
}

.oneBand:hover{
	font-size: 30px;
	position:relative;

#go_to_landing{
	display: block;
	font-size: 18px;
}
